
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <h1>Yeni kategori ekleme sayfası</h1>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <h3>Hoş geldiniz</h3>
    <form class="form-group" method="post">
        <input type="text" placeholder="Kategori adı" name="CategoryName" class="form-control" />
        <br />
        <input type="text" placeholder="Açıklama" name="CategoryDescription"  class="form-control" />
        <br />
        <button class="btn btn-primary" formmethod="post">Ekle</button>

    </form>
</body>
</html>
